:root{
    --main-color: #822faf;
    --main-darker-color: #6d23b6;
    --custom-white: #F8F9FA;
    --custom-black: #212529;
    --custom-green: #06d6a0;
    --custom-yellow: #ffd166;
    --custom-red: #ef476f;
    --custom-font: "Poppins", sans-serif;
}

*{
    font-family: var(--custom-font);
}

body{
    min-width: 1200px;
    margin: 0px;
    background-color: antiquewhite;
    height: 100vh;
}

main{
    height: 100%;
}

.custom-navbar{
    margin: 0px;
    height: 70px;
    background-color: var(--main-darker-color);
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.input-wrap{
    display: flex;
    align-items: center;
    gap: 42px;
    margin: 0px 0px 0px 42px;
}

.nav-logo{
    font-size: 38px;
    margin: 0px 18px 0px 0px;
}

.main-title{
    display: flex;
    align-items: center;
    color: white;
    font-size: 32px;
    font-weight: 500;
    margin: 0px;
}

.searchbar{
    border-radius: 5px;
    border: none;
    padding: 6px 18px;
    width: 460px;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--custom-white);
    transition: 0.3s;
}

.searchbar:focus{
    outline: none;
    transform: scale(1.05);
}

.active-user{
    margin: 0px 42px 0px 0px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.active-user-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: var(--custom-black);
    width: 42px;
    height: 42px;
    background-color: var(--custom-white);
}

.active-user-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.active-user-name{
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin: 0px;
}

.active-user-logout{
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    transition: 0.2s;
}

.active-user-logout:hover{
    color: var(--custom-red);
    cursor: pointer;
}

/* Sidebar */
.custom-sidebar{
    position: absolute;
    top: 70px;
    bottom: 0px;
    width: 300px;
    padding-top: 18px;
    background-color: var(--main-color);
}

.sidebar-item-container{
    padding: 12px 0px 12px 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.2s;
}

.sidebar-item-container:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 4px solid white;
}

.custom-sidebar-item{
    color: white;
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
}

/* Main Content */
.main-content{
    position: absolute;
    background-color: var(--custom-white);
    /* background-color: white; */
    top: 70px;
    bottom: 0px;
    left: 300px;
    right: 0px;
    min-width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content h1{
    font-size: 42px;
    color: var(--custom-black);
    opacity: 40%;
}










































/* JavaScript classes */
.no-render{
    display: none;
}